.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 70px;
  text-align: center;
}

div {
  font-size: 20px;
}

div div{
  width: 500px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px 0;
}

.container div {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div span {
  margin: 3px;
}

html {
  background-color: rgb(230, 237, 208);
}